.background{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    position: fixed;
  }
.bg-trans{
    background-color: rgba(255,255,255,.5);
}
.bg-table{
    background-color: rgba(255,255,255,.8);
}
.icons{
    color: rgb(234, 234, 39);
}
body{
    background-color: rgb(99, 229, 99);
}